{% extends 'registration/user-base.html' %}
{% load static %}
{% load widget_tweaks %}
<!--% load crispy_forms_tags %-->
{% block title %}Set new Password{% endblock %}

{% block content %}
{% if validlink %}
  <form class="login100-form validate-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <span class="login100-form-title">
      <strong>KIVINGONI SCHOOL</strong>
      <h1>Set a new Password.</h1>
    </span>
    <div class="wrap-input100">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Enter new password</legend>
        {{ form.as_p }}
      </fieldset>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn" type="submit" value="Send me the instructions">
        Submit 
      </button>
      <input type="hidden" name="next" value="Send me the instructions">
    </div>
  </form>
  {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}
