{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!--% load crispy_forms_tags %-->
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ user.profile.image.url }}" alt="Photo">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <h2 class="mx-auto">Welcome {{ request.user }}</h2>
        </div>
        <hr>
        <div class="row">
            <div style="font-size:24px; margin-left: 30px">
                <form enctype="multipart/form-data" class="login100-form validate-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="wrap-input100">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4"><strong>Profile Info</strong> </legend>
                            {{ u_form.as_p }}
                            {{ p_form.as_p}}
                        </fieldset>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="btn btn-success" type="submit" value="Update">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

