{% extends 'registration/user-base.html' %}
{% load static %}
{% load widget_tweaks %}
<!--% load crispy_forms_tags %-->
{% block title %}Sign Up{% endblock %}

{% block content %}
  <form class="login100-form validate-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <span class="login100-form-title">
      <strong>KIVINGONI SCHOOL</strong>
    </span>
    <div class="wrap-input100">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Register</legend>
        {{ form.as_p }}
      </fieldset>
    </div>
    <div class="container-login100-form-btn">
      <button class="login100-form-btn" type="submit" value="Login">
        Sign Up 
      </button>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
    <div class="text-center p-t-12">
      <strong>
        <span class="txt1">
            Already have an account?
        </span>
        &nbsp;
        <a class="txt2" href="{% url 'login' %}">
            Login here.
        </a>
      </strong>
    </div>

    <div class="text-center p-t-12">
      <strong>
        <span class="txt1">
            Forgot
        </span>
        <a class="txt2" href="{% url 'password_reset' %}">
            Password?
        </a>
      </strong>
    </div>
  </form>
{% endblock %}

