{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            {% if object.passport %}
            <img
                src="{{ object.passport.url }}"
                class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
            {% else %}
            <img
                src="{% static 'dist/img/avatar.png' %}"
                class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <h2 class="mx-auto">Welcome {{ request.user }}</h2>
        </div>
        <hr>
        <div class="row">
            <div style="font-size:24px; margin-left: 30px">
                <pre>Name:                {{ user.username }}</pre>
                <pre>Email:               {{ user.email}}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
