{% extends 'accounts/user-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<form class="login100-form validate-form" method="post">
    {% csrf_token %}
    <span class="login100-form-title">
        <strong>KIVINGONI SCHOOL</strong>
    </span>
    <div class="wrap-input100">
        <fieldset class="form-group">
        <legend class="border-bottom mb-4"> PASSWORD RESET</legend>
        <p class="txt2">
            Instructions to reset your password will be sent to the Email submitted below.
        </p>
        &nbsp;
        {{ form|crispy }}
        </fieldset>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" value="Login">
        Submit
        </button>
    </div>
</form>
{% endblock %}