{% extends 'accounts/user-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset Done{% endblock %}

{% block content %}
    <form class="login100-form validate-form" method="post" action="">
        {% csrf_token %}
        <span class="login100-form-title">
            <strong>KIVINGONI SCHOOL</strong>
        </span>
            <strong>
                <div class=" alert alert-success">
                    Your new password has been set.
                </div>
            </strong>
            <a href="{% url 'login' %}" style="color: blue;">Log In </a>
    </form>
{% endblock %}